@model EcoSelf_Server.ViewModels.AddModel

<h2>Здрасте</h2>

<a style ="width: 200px; height: 200px" asp-controller="Admin" asp-action="Add">Add</a>
<a style="width: 200px; height: 200px" asp-controller="Admin" asp-action="Edit">Edit</a>
<a style="width: 200px; height: 200px" asp-controller="Admin" asp-action="Delete">Delete</a>

